<div class="gallery">
  <div class="photoset">
    <% if (item.photos.length){ %>
      <% item.photos.forEach(function(photo){ %>
        <img src="<%- url_for(photo) %>">
      <% }); %>
    <% } else { %>
      <img src="<%- url_for(item.photos) %>">
    <% } %>
  </div>
  <div class="control">
    <div class="prev"></div>
    <div class="next"></div>
  </div>
</div>
