nav-height = 82 + 3*2px

#header
  cursor pointer
  padding 15px 0 5px
  h1
    text-align center
    color #fff
    font 5em font-main-title
    letter-spacing 0.2em
  .horizon
    background-image url('/blog/images/earth-shining.png');
    width 1000px
    height 153px
    margin 4px 0 -132px
  nav
    font 1.3em font-title
    line-height nav-height
    ul
      list-style none
      text-align center
      li
        margin 0 50px
        display inline-block

      a
        color #fff
        opacity 0.7
        transition 0.3s
        &:hover
          opacity 1
